[Desktop Entry]
Type=Application
Categories=Utilities;Utility
Name=SurvUp
Exec=SurvUp
Icon=/usr/share/icons/SurvUp-White/SurvUp.svg
Actions=Start;Stop;Restart;Status;About
Terminal=True

[Desktop Action Start]
Exec=SurvUp start
Name=Start Apache, MySQL and Webmin
Icon=/usr/share/icons/SurvUp-White/SurvUp-Run.svg

[Desktop Action Stop]
Exec=SurvUp stop
Name=Stop Apache, MySQL and Webmin
Icon=/usr/share/icons/SurvUp-White/SurvUp-Stop.svg

[Desktop Action Restart]
Exec=SurvUp restart
Name=Restart Apache, MySQL and Webmin
Icon=/usr/share/icons/SurvUp-White/SurvUp-Plus.svg

[Desktop Action Status]
Exec=SurvUp status
Name=SurvUp Status
Icon=/usr/share/icons/SurvUp-White/SurvUp-Tick.svg

[Desktop Action About]
Exec=SurvUp about
Name=About SurvUp
Icon=/usr/share/icons/SurvUp-White/SurvUp-Info.svg